<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Quality</th>
    <th>Like</th>
    <th>Dislike</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.title %></td>
    <td><%= idea.body %></td>
    <td><%= idea.quality %></td>
  </tr>
<% end %>
  </tbody>
</table>
